{% extends 'base.html' %}

{% block content %}
<h1 class="text-center text-white display-3 fw-bold">Card Viewer</h1>

<div class="container">
    <a class="btn btn-primary" href="{% url 'card_back' %}">
        <h3 class="display-6 fs-3">New Card <i class="fa-solid fa-rotate-right fa-spin"></i></h3>
    </a>
    <div class="row">
        <div class="d-flex col-lg-4 offset-lg-4">
            <div class="card bg-dark text-white">
                <a target="_blank" href="{{response.card_images.0.image_url}}"><img class="card-img-top card-zoom"
                        src="{{response.card_images.0.image_url}}" alt="{{response.name}}"></a>
                <div class="card-body">
                    <h2 class="card-title text-center display-6">{{response.name}}</h2>

                    {% if response.attribute %}
                    <div class="d-flex align-items-center pt-3">
                        <h2 class="display-6 fs-3">ATTRIBUTE: {{response.attribute}}</h2>
                        <div class="mx-3">
                            {% if response.attribute == "DARK" %}
                            <i class="fa-solid fa-circle-half-stroke fa-beat"></i>
                            {% elif response.attribute == "DIVINE" %}
                            <i class="fa-solid fa-book-bible fa-beat"></i>
                            {% elif response.attribute == "EARTH" %}
                            <i class="fa-solid fa-earth-americas fa-beat"></i>
                            {% elif response.attribute == "FIRE" %}
                            <i class="fa-solid fa-fire fa-beat"></i>
                            {% elif response.attribute == "LIGHT" %}
                            <i class="fa-solid fa-bolt-lightning fa-beat"></i>
                            {% elif response.attribute == "WATER" %}
                            <i class="fa-solid fa-water fa-beat"></i>
                            {% elif response.attribute == "WIND" %}
                            <i class="fa-solid fa-wind fa-beat fs-6"></i>
                            {% endif %}
                        </div>
                    </div>
                    {% endif%}

                    {% if response.level %}
                    <h2 class="display-6 fs-3 text-center">LEVEL</h2>
                    <div class="d-flex justify-content-center">
                        {% for i in level_list %}
                        <i class="fa-solid fa-star fa-beat"></i>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if response.atk %}
                    <div class="d-flex justify-content-start">
                        <i class="fa-solid fa-heart fa-beat"></i>
                        <p class="mx-3">ATK/ {{response.atk}}</p>
                    </div>
                    {% endif %}

                    {% if response.def %}
                    <div class="d-flex justify-content-start">
                        <i class="fa-solid fa-shield-halved fa-beat"></i>
                        <p class="mx-3">DEF/ {{response.def}}</p>
                    </div>
                    {% endif %}

                    <h2 class="display-6 fs-3">TYPE: {{response.type}}</h2>
                    <p class="card-text bg-success bg-opacity-75 p-3">{{response.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}